@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* Colors */

/* fonts */

body {
  background-color: #ccc;
  color: #34495E;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-size: 18px;
}

.page-border {
  background-color: #fff;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.banner h3 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/11224/images/hero_full/20150513_JWA7615-web.jpg?1459522593");
  color: white;
  height: 500px;
  width: 100%;
}

.banner-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 300px;
  width: 500px;
  margin: 100px;
  padding: 20px;
  background-color: #fff;
  color: #34495E;
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

.pretty-border {
  border: 1px solid #ccc;
}

/* Navigation Bar */

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  color: #fff;
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-item {
  color: #34495E;
}

.nav-menu {
  padding-left: 30px;
  font-size: 30px;
}

.master-nav {
  padding: 5px;
  padding-left: 20px;
  background-color: #47b6ad;
}

/* Albums */

.album-index {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.album {
  padding: 15px;
}

.album a:link {
  color: #fff;
}

.album a:visited {
  color: #fff;
}

.album a:hover {
  color: #fff;
  text-decoration: none;
}

.album a:active {
  color: #fff;
}

.album-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.white-border {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.white-border div {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.album-title {
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  font-size: 26px;
  color: #34495E;
  padding: 30px;
  text-transform: uppercase;
  border: 1px solid #ccc;
}

/* Posts Index*/

.post-layout {
  background-color: #fff;
  margin: 30px;
}

.posts {
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.odd {
  background-color: #fff;
}

.even {
  background-color: #fff;
}

.post-title:link {
  color: #34495E;
}

.post-title:visited {
  color: #34495E;
}

.post-title:hover {
  color: #34495E;
  text-decoration: none;
}

.post-title:active {
  color: #34495E;
}

.post-created {
  padding-bottom: 15px;
}

.read-more:link {
  color: #FF8000;
}

.read-more:visited {
  color: #FF8000;
}

.read-more:hover {
  color: #FF8000;
}

.read-more:active {
  color: #FF8000;
}

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aligner-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Posts Show */

.post-show {
  margin: 10px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.post-heading {
  padding-bottom: 5px;
  padding-top: 25px;
}

.post-heading .post-heading h2 {
  font-size: 30px;
}

.post-row {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.post-body {
  padding-top: 5px;
  padding-bottom: 40px;
}

.nessie-say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  color: #FF8000;
  font-family: "Cookie", cursive;
}

.nessie-say p {
  margin: auto;
  padding-left: 40px;
}

/* Comments */

.comments {
  margin-left: 45px;
}

.user-comments {
  color: #FF8000;
}

.user-comments p {
  padding-top: 15px;
  margin: auto;
  color: #34495E;
}

.btn-primary {
  border-color: #85929E;
  background-color: #34495E;
}

.btn-primary:hover {
  background-color: #85929E;
  border-color: #85929E;
}

/* Gallery */

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.masonry-panel {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border-radius: 15px;
}

.masonry-panel_content img {
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

/* Footer */

.main-footer {
  height: 75px;
  background-color: #47b6ad;
}

#flash-message {
  background-color: #FF8000;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  -webkit-animation: flash-message 6s forwards;
          animation: flash-message 6s forwards;
}

@-webkit-keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

