@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* Colors */

/* Fonts */

/* Buttons */

.btn-secondary {
  padding: 5px;
  background-color: #47b6ad;
  border: none;
}

body html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ccc;
  color: #34495E;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-size: 18px;
}

.page-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #fff;
}

.banner {
  background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/11224/images/hero_full/20150513_JWA7615-web.jpg?1459522593");
  height: 100vh;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-text {
  padding: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  max-width: 500px;
  background-color: #fff;
  color: #34495E;
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
}

.pretty-border {
  border: 1px solid #ccc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.pretty-border h3 {
  font-size: 80px;
  padding-bottom: 15px;
}

/* Navigation Bar */

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  color: #fff;
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-item {
  color: #34495E;
}

.nav-menu {
  padding-left: 30px;
  font-size: 30px;
}

.master-nav {
  padding: 15px;
  padding-left: 20px;
  background-color: #47b6ad;
}

/* Albums */

.album-index {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.album {
  padding: 15px;
}

.album a:link {
  color: #fff;
}

.album a:visited {
  color: #fff;
}

.album a:hover {
  color: #fff;
  text-decoration: none;
}

.album a:active {
  color: #fff;
}

.album-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.album-content:hover {
  background-color: #ccc;
  opacity: 0.8;
}

.white-border {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.white-border div {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.home-white-border {
  border: 40px solid #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.home-white-border div {
  width: 100%;
  height: 100%;
}

.album-title {
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  font-size: 26px;
  color: #34495E;
  padding: 30px;
  text-transform: uppercase;
  border: 1px solid #ccc;
}

/* Posts Index*/

.post-layout {
  background-color: #fff;
  margin: 30px;
}

.posts {
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.post-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.post-title:link {
  color: #34495E;
}

.post-title:visited {
  color: #34495E;
}

.post-title:hover {
  color: #34495E;
  text-decoration: none;
}

.post-title:active {
  color: #34495E;
}

.post-created {
  padding-bottom: 15px;
}

.read-more:link {
  color: #FF8000;
}

.read-more:visited {
  color: #FF8000;
}

.read-more:hover {
  color: #FF8000;
}

.read-more:active {
  color: #FF8000;
}

.aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aligner-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Posts Show */

.post-show {
  margin: 10px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
}

.post-heading {
  padding-bottom: 5px;
  padding-top: 25px;
}

.post-heading .post-heading h2 {
  font-size: 30px;
}

.post-row {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.post-body {
  padding-top: 5px;
  padding-bottom: 40px;
}

.nessie-say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  color: #FF8000;
  font-family: "Cookie", cursive;
}

.nessie-say p {
  margin: auto;
  padding-left: 40px;
}

/* Comments */

.comments {
  margin-left: 45px;
}

.user-comments {
  color: #FF8000;
}

.user-comments p {
  padding-top: 15px;
  margin: auto;
  color: #34495E;
}

/* Photos */

.masonry {
  /* Masonry container */
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .masonry {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (min-width: 1200px) {
  .masonry {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.masonry-panel {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border-radius: 15px;
}

.masonry-panel_content img {
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.masonry-panel_content .btn-link {
  border: none;
  padding: 0;
}

/*Masonry Panel Flip */

.flip-med {
  height: 300px;
}

.flip {
  -webkit-perspective: 2500px;
          perspective: 2500px;
}

.flip:hover .flip-content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-panel {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 15px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.flip-panel-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
  background-color: #47b6ad;
}

.flip-panel-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #FF8000;
}

.flip-content {
  height: 100%;
  overflow: visible;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.85s;
  transition: 0.85s;
  color: #fff;
  font-family: 'Quattrocento', serif;
  font-size: 40px;
  text-align: center;
}

/* Footer */

.main-footer {
  height: 75px;
  background-color: #47b6ad;
}

#flash-message {
  background-color: #FF8000;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  -webkit-animation: flash-message 6s forwards;
          animation: flash-message 6s forwards;
}

@-webkit-keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

