// Bios
.kitty-human {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .bio {
    background-color: lightgray;
    opacity: 0.7;
    padding: 20px;
    margin-right: 1%;
    width: 40%;
    height: 80%;
    .bio-title {
      padding: 5% 2%;
      font-size: 2rem;
      display: flex;
      align-items: center;
    }
    .bio-body {
      height: 80%;
      overflow-y: scroll;
      padding: 0 2%;
    }
  }
}

.mozzie {
  background-image: url("/storage/mozzie_bio.jpg");
}
.nessie {
  background-image: url("/storage/nessie_cupboard.jpg");
}
.amanda {
  background-image: url("/storage/amanda_bio.jpg");
  background-position: center;
}
.des {
  background-image: url("/storage/des_scotland.jpg");
  background-position: center;
}

@media (max-width: 768px) {
  .kitty-human {
    .bio {
      width: 75%;
      .bio-body {
        margin-top: 20px;
      }
    }
  }
}