/* Footer */
.main-footer {
  background-color: $primary2;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  .footerLinks {
    display: flex;
    justify-content: center;
    a {
      font-size: 18px;
      padding: 15px;
      &:link { color: $white; }
      &:visited { color: $white; }
      &:hover {
        color: $white;
        opacity: .5;
        text-decoration: none;
      }
      &:active { color: $white; }
    }
  }
}