/* Footer */
.main-footer {
  min-height: 18rem;
  background-color: $primary2;
  opacity: 0.9;
  display: flex;
  align-items: flex-end;
  .footerImg {
    height: 18rem;
    width: 26rem;
    background-image: url("/img/nessie_monster.jpg");
    background-repeat: no-repeat;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    .footerHr hr {
      border: 1px solid $white;
      width: 90%;
    }
    .footerLinks {
      display: flex;
      justify-content: center;
      a {
        font-size: 18px;
        padding: 15px;
        &:link { color: $white; }
        &:visited { color: $white; }
        &:hover {
          color: $white;
          opacity: .5;
          text-decoration: none;
        }
        &:active { color: $white; }
      }
    }
  }
}