.banner {
  background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/11224/images/hero_full/20150513_JWA7615-web.jpg?1459522593');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.banner-text {
  padding: 15px;
  position: absolute;
  display: flex;
  background-color: $white;
  color: $primary;
  font-family: 'Quattrocento', serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .banner-text p {
    font-size: 0.8rem;
  }
  .banner-text h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .banner-text p {
    font-size: 1rem;
  }
  .banner-text h3 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .banner-text p {
    font-size: 1.2rem;
  }
  .banner-text h3 {
    font-size: 2.8rem;
  }
}

.homeIntro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  position: relative;
}
.greeting {
  color: $white;
  font-family: 'Gaegu', cursive;
  font-size: 3rem;
  background-color: $primary2;
  text-align: center;
  margin: 0 15rem;
}