.master {
  .master-logo {
    position: absolute;
    padding: .1em .3em;
    font-size: 2em;
    font-family: cursive;
    z-index: 3;
    a {
      &:link { color: $white; }
      &:visited { color: $white; }
      &:hover { color: $white; text-decoration: none;}
      &:active { color: $white; }
    }
  }
}

@media(max-width: 768px) {
  .master-logo {
    visibility: hidden;
  }
}