//Post Show
.post-show {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-heading {
    padding-bottom: 5px;
    padding-top: 25px;
    h2{
      font-size: 30px;
    }
    .post-body {
      padding-top: 5px;
      img {
        width: auto;
      }
      .postBodyImg {
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }
  }
}

/* Comments */
.user-comments {
  color: $primary2;
  padding: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    padding-top: 5px;
    margin: auto;
    color: $primary;
  }
}
.add-comments {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}