//Post Index
.post-layout {
  background-color: $white;
  margin: 0 5% 5% 5%;
  //padding-top: 5%;
  .posts {
    padding: 30px 15px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .aligner {
      display: flex;
      align-items: center;
      .aligner-item {
        flex: 1;
        .post-title {
          &:link { color: $primary2; }
          &:visited { color: $primary2; }
          &:hover {
            color: $primary2;
            text-decoration: none;}
          &:active { color: $primary2; }
        }
        .post-created {
          padding-bottom: 15px;
        }
        .read-more {
          &:link { color: $accent2; }
          &:visited { color: $accent2; }
          &:hover { color: $accent2; }
          &:active { color: $accent2; }
        }
        .post-img {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .odd .img {
    order: 1;
  }
  .odd .post-info {
    order: 2;
    padding-top: 30px;
  }
  .even .post-info {
    padding-top: 30px;
  }
}