//Post Index
.post-layout {
  background-color: $white;
  margin: 0 5% 5% 5%;
  .links {
    a {
      position: absolute;
      z-index: 3;
    }
  }
  .posts {
    padding: 30px 15px;
    margin-bottom: 30px;
    margin-top: 2px;
    border: 1px solid #eeeeee;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .aligner {
      display: flex;
      align-items: center;
      .aligner-item {
        flex: 1;
        .post-title {
          &:link { color: $primary2; }
          &:visited { color: $primary2; }
          &:hover {
            color: $primary2;
            text-decoration: none;}
          &:active { color: $primary2; }
        }
        .post-created {
          padding-bottom: 15px;
        }
        .read-more {
          &:link { color: $accent2; }
          &:visited { color: $accent2; }
          &:hover { color: $accent2; }
          &:active { color: $accent2; }
        }
        .post-img {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .odd .img {
    order: 1;
  }
  .odd .post-info {
    order: 2;
    padding-top: 30px;
  }
  .even .post-info {
    padding-top: 30px;
  }
}

.filter {
  border: none;
  width: 100%;
  position: relative;
  .card-header {
    border: none;
    padding: 0;
    background-color: $white;
    button {
      margin-left: 5rem;
      &:focus {
        outline: none;
      }
    }
  }
  .collapse {
    padding: 0;
  }
  .pretty-border {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.5rem;
    background-image: url("/storage/pantheon-wide-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}
.filter-options {
  display: flex;
  margin: 0;
  padding: .8rem;
  background-color: $white;
  width: auto;
  ul {
    padding: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      width: 10rem;
      label {
        padding: 0;
      }
    }
  }
  .when-posted {
    border-right: 2px solid $lt-gray;
    padding-right: 1rem;
    text-align: start;
  }
  .posted-by {
    padding-left: 1rem;
    text-align: start;
    .row li {
      flex-grow: 3;
    }
  }
}

.filter-btn {

}

@media (max-width: 992px) {
  .filter-options {
    flex-direction: column;
    .when-posted {
      border-right: none;
      border-bottom: 2px solid $lt-gray;
      padding-bottom: 1rem;
    }
    .posted-by {
      padding-top: 1.5rem;
      padding-left: 0;
    }
  }
}