/* Colors */
$primary: #34495E;
$accent: #FF8000;
$gray: #85929E;
$lt-gray: #ccc;
$white: #fff;

/* fonts */
$primary-ft: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
$accent-ft: "Cookie", cursive;

body html {
	height: 100%;
}

body {
	margin: 0;
	background-color: $lt-gray;
	color: $primary;
	font : {
		family: $primary-ft;
		size: 18px;
	}
}
.page-border {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: $white;
}

.banner {
	background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/11224/images/hero_full/20150513_JWA7615-web.jpg?1459522593');
	height: 85vh;
	margin: 40px;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-text {
	padding: 15px;
	position: absolute;
	display: flex;
	min-height: 300px;
	max-width: 500px;
	background-color: $white;
	
	color: $primary;
	font-family: 'Quattrocento', serif;
	font-weight: 300;
	font-size: 15px;

	text-transform: uppercase;
}
.pretty-border {
	border: 1px solid $lt-gray;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	h3 {
		font-size: 80px;
		padding-bottom: 15px;	
	}
}

/* Navigation Bar */
.dropdown-toggle::after {
	display: none;
}
.dropdown-toggle {
		color: $white;
		&:hover {color: $white;}
	}
.dropdown-item {
	color: $primary;
}
.nav-menu {
	padding-left: 30px;
	font-size: 30px;
}
.master-nav {
	padding: 15px;
	padding-left: 20px;
	background-color: rgb(71, 182, 173);
}

/* Albums */
.album-index {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.album {
	padding: 15px;
	a {
		&:link { color: $white; }
		&:visited { color: $white; }
		&:hover { color: $white; text-decoration: none; }
		&:active { color: $white; }
	}
}
.album-content {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
	// &:hover {
	// 	background-color: $lt-gray;
	// 	opacity: 0.6;
	// }
}
.white-border {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	padding: 20px;
  	div {
  		border: 1px solid $white;
  		width: 100%;
  		height: 100%;
  	}
}
.album-title {
	font-family: 'Quattrocento', serif;
	font-weight: 300;
	font-size: 26px;
	color: $primary;
	padding: 30px;
	text-transform: uppercase;
	border: 1px solid $lt-gray;
}

/* Posts Index*/
.post-layout {
	background-color: $white;
	margin: 30px;
}
.posts {
	padding: 10px;
	padding-top: 25px;
	margin-bottom: 30px;
	border: 1px solid $lt-gray;
}
.odd {
	background-color: $white;
}
.even {
	background-color: $white;
}
.post-title {
	&:link { color: $primary; }
	&:visited { color: $primary; }
	&:hover { color: $primary; text-decoration: none;}
	&:active { color: $primary; }
}
.post-created {
	padding-bottom: 15px;
}
.read-more {
	&:link { color: $accent; }
	&:visited { color: $accent; }
	&:hover { color: $accent; }
	&:active { color: $accent; }
}
.aligner {
	display: flex;
	align-items: center;
}
.aligner-item {
	flex: 1;
}

/* Posts Show */
.post-show {
	margin: 10px;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
}
.post-heading {
	padding-bottom: 5px;
	padding-top: 25px;
	.post-heading h2{
		font-size: 30px;
	}
}
.post-row {
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.post-body {
	padding-top: 5px;
	padding-bottom: 40px;
}
.nessie-say {
	display: flex;
	font-size: 35px;
	color: $accent;
	font-family: $accent-ft;
	p {
		margin: auto;
		padding-left: 40px;
	}
}

/* Comments */
.comments {
	margin-left: 45px;
}
.user-comments {
	color: $accent;
	p {
		padding-top: 15px;
		margin: auto;
		color: $primary;
	}
}
.btn-primary {
	border-color: $gray;
	background-color: $primary;
	&:hover {
		background-color: $gray;
		border-color: $gray;
	}
}

/* Gallery */
.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.masonry-panel { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border-radius: 15px;
}
.masonry-panel_content img {
	border-radius: 15px;
	display: block;
	margin: 0 auto;
}

/* Footer */
.main-footer {
	height: 75px;
	background-color: rgb(71, 182, 173);
}

#flash-message {
	background-color: $accent;
	color: $white;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
	animation: flash-message 6s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

 // Variables
@import "variables";
