
/* Title */
.title {
	padding: 10px;
	padding-left: 20px;
		a {
			&:link { color: #85929E; }
			&:visited { color: #85929E; }
			&:hover { color: #85929E; text-decoration: none;}
			&:active { color: #85929E; }
		}
		h1 {
			font-family: "Cookie";
			color: #85929E;
			font-size: 90px;
		}
}

/* Navigation Bar */
.main-navbar{
	background-color: #34495E;
	.nav-menu {
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 10px;
			font : {
				family: "Prociono";
				size: 18px;
			}
			a {
				&:link { color: #fff; }
				&:visited { color: #fff; }
				&:hover { color: #fff; }
				&:active { color: #fff; }
			}
			.dropdown-menu a {
				&:link { color: #34495E; }
				&:visited { color: #34495E; }
				&:hover { color: #34495E; }
				&:active { color: #34495E; }
			}
	}
}

/* Slider */
.slider span {
	border: 1px solid #34495E;
	padding-bottom: 75px;
	padding-top: 20px;
		.slider-city {
			color: #FF8000;
			font : {
				family: "Cookie";
				size: 30px;
			}
		}
}

/* Nessie Greeting */
.intro-text {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 25px solid #34495E;
	background-image: url("https://image.freepik.com/free-vector/vector-abstract-lines-template-object-design_2065-720.jpg");
	color: #85929E;
		font : {
			family: "Prociono";
			size: 22px;
		}
}

/* Posts Index*/
.posts {
	padding: 10px;
	padding-top: 25px;
}
.odd {
	background-color: white;
}
.even {
	background-color: #ccc;
}

.post-info {
	padding-top: 70px;
	font-family: "Prociono";
	color: #34495E;
		h5 {
			padding-top: 20px;
		}
}
.post-title {
	font-family: "Prociono";
	&:link { color: #34495E; }
	&:visited { color: #34495E; }
	&:hover { color: #34495E; text-decoration: none;}
	&:active { color: #34495E; }
}
.read-more {
	font-family: "Prociono";
	&:link { color: #FF8000; }
	&:visited { color: #FF8000; }
	&:hover { color: #FF8000; }
	&:active { color: #FF8000; }
}


/* Posts Show */
.post-show {
	margin: 10px;
	margin-top: 50px;
	font-family: "Prociono";
	color: #34495E;
}
.post-heading {
	padding-bottom: 5px;
	padding-top: 25px;
		.post-heading h2{
			font-size: 30px;
		}
}
.post-body {
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 40px;
}
.nessie-say {
	display: flex;
	font-size: 35px;
	color: #FF8000;
	font-family: "Cookie";
		p {
			margin: auto;
			padding-left: 40px;
		}
}

/* Comments */
.comments {
	margin-left: 45px;
}
.user-comments {
	font-family: "Prociono";
	color: #FF8000;
	p {
		padding-top: 15px;
		margin: auto;
		color: #34495E;
	}
}

/* Gallery */
.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.masonry-panel { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border-radius: 15px;
}
.masonry-panel_content img {
	border-radius: 15px;
	display: block;
	margin: 0 auto;
}

/* Footer */
footer div {
	height: 100px;
	background-color: #34495E;
		h4 {
			padding: 10px;
			padding-left: 20px;
			color: #fff;
			font : {
				family: "Prociono";
				size: 25px;
		}
	}
}
	.archives-link {
		font-family: "Prociono";
		padding: 25px;
		&:link { color: #fff; }
		&:visited { color: #fff; }
		&:hover { color: #fff; }
		&:active { color: #fff; }
		}

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

 // Variables
@import "variables";
